{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-prisma"
  ],
  "importOrder": [
    "(.*)instrument(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@s/core/(.*)$",
    "^@apiv1/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
